svg.spider-scene {
    overflow: hidden;
}
circle.spider-root {
    fill: #0C5DA5;
    stroke: #1F1AB2;
    stroke-width: 2px;
}
circle.spider-department {
    fill: #679FD2;
    stroke: #1F1AB2;
    stroke-width: 1px;
}
circle.spider-employee {
    fill: #0C5DA5;
    stroke: #1F1AB2;
    stroke-width: 1px;
}
text.spider-title {
    color: #1F1AB2;
    text-anchor: middle;
    -moz-text-shadow:0 0 1px #00F;
    -webkit-text-shadow:0 0 1px #00F;
    text-shadow:0 0 1px #00F;
}
line.spider-edge {
    stroke: #1F1AB2;
    stroke-width: 1px;
}
.spider-tooltip {
    font-weight:normal;
    font-size:12px;
    color: #1F1AB2;
    text-align:left;
    font-family:arial, helvetica, sans-serif;
    line-height: 1;
    padding: 10px;
    background: lavender;
    border-radius: 10px;
    border-style: solid;
    border-color: #1F1AB2;
    -webkit-box-shadow: 1px 1px 1px 0px #1F1AB2;
    -moz-box-shadow: 1px 1px 1px 0px #1F1AB2;
    box-shadow: 1px 1px 1px 0px #1F1AB2;
}